{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TheTaTToTing{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleContacto.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleGaleria.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleCotizaciones.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleAdminUsuario.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleDetalleTatuaje.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleFormCotizacion.css' %}">
</head>
<body>
    <header class="contenedorHader">
        <h1>TheTaTToTing</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Inicio</a></li>
                <li><a href="{% url 'Galeria' %}" class="{% if request.resolver_match.url_name == 'Galeria' %}active{% endif %}">Galería</a></li>
                <li><a href="{% url 'contacto' %}" class="{% if request.resolver_match.url_name == 'contacto' %}active{% endif %}">Contacto</a></li>
                <li><a href="{% url 'cotizacion' %}" class="{% if request.resolver_match.url_name == 'cotizacion' %}active{% endif %}">Cotizaciones</a></li>
                <li><a href="{% url 'ver_carrito' %}" class="{% if request.resolver_match.url_name == 'ver_carrito' %}active{% endif %}">Ver Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Proyecto Backend. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
