{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  <!-- Cambié 'css/estilos.css' a 'style.css' -->
    <link rel="stylesheet" href="{% static 'css/styleContacto.css' %}?v=1.0">
</head>
<body>
    <header>
        <h1>Formulario de Contacto</h1>
        <nav>
            <ul>
                <li><a Class="BarraNavegacion"  href="{% url 'index' %}">Inicio</a></li>
                <li><a Class="BarraNavegacion"  href="{% url 'pagina_secundaria' %}">Página Secundaria</a></li>
                <li><a Class="BarraNavegacion"  href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="contenedorContacto">
            <form action="" method="POST">
                <div class="contendorForm">
                    <label for="nombre">Nombre Completo:</label>
                    <br>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <br>
                <div class="contendorForm">
                    <label for="correo">Correo Electrónico:</label>
                    <br>
                    <input type="email" id="correo" name="correo" required>
                </div>
                <br>
                <div class="contendorForm">
                    <label for="telefono">Teléfono:</label>
                    <br>
                    <input type="tel" id="telefono" name="telefono">
                </div>
                <br>
                <div class="contendorForm">
                    <label for="comentario">Comentario:</label>
                    <br>
                    <textarea id="comentario" name="comentario" rows="4" required></textarea>
                </div>
                <br>
                <div class="contendorForm">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Proyecto Backend. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
