{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styleContacto.css' %}?v=1.10">
{% endblock %}

{% block title %}Formulario de Contacto{% endblock %}
{% block content %}
<section class="contacto-section">
    <div class="contenedorContacto">
        <h1 style="color: #f1c40f;">Formulario de Contacto</h1>
        <form action="" method="POST" style="color: #10100f;">
            {% csrf_token %}
            <div class="contendorForm">
                <label for="nombre" class="textoForm">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="contenedorINPUT" required>
            </div>
            <div class="contendorForm">
                <label for="apellido" class="textoForm">Apellido:</label>
                <input type="text" id="apellido" name="apellido" class="contenedorINPUT" required>
            </div>
            <div class="contendorForm">
                <label for="correo" class="textoForm">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" class="contenedorINPUT" required>
            </div>
            <div class="contendorForm">
                <label for="telefono" class="textoForm">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" class="contenedorINPUT">
            </div>
            <div class="contendorForm">
                <label for="direccion" class="textoForm">Dirección:</label>
                <input type="text" id="direccion" name="direccion" class="contenedorINPUT" required>
            </div>
            <div class="contendorForm">
                <label for="comentario" class="textoForm">Comentario:</label>
                <textarea id="comentario" name="comentario" rows="4" class="contenedorComeForm"></textarea>
            </div>
            <div class="contendorForm">
                <button type="submit" class="bottonForm">Enviar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
