{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styleCotizaciones.css' %}">
{% endblock %}

{% block content %}
<section class="seccion-cotizacion">
    <h2>Lista de Tatuajes Disponibles para Cotización</h2>
    <p>Selecciona un tatuaje y obtén más detalles sobre el precio.</p>

    <div class="lista-tatuajes">
        {% for tatuaje in tatuajes %}
        <div class="tatuaje-item">
            {% if tatuaje.imagen %}
                <img src="{{ tatuaje.imagen.url }}" alt="{{ tatuaje.nombre }}">
            {% endif %}
            <h3>{{ tatuaje.nombre }}</h3>
            <p>{{ tatuaje.descripcion }}</p>
            <p>Precio: {{ tatuaje.precio|intcomma }} CLP</p>
            <a href="{% url 'detalle_tatuaje' tatuaje.id %}">Ver detalles</a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="seccion-cotizacion">
    <h2>Diseños Personalizados</h2>
    <p>Selecciona y decide qué diseño adaptar a tus gustos. Dale tu toque personal según lo que requieras y las medidas que desees.</p>

    <div class="lista-tatuajes">
        {% for tatuaje in tatuajes_personalizados %}
        <div class="tatuaje-item">
            <h3>{{ tatuaje.nombre }} (Hasta {{ tatuaje.tamano_max_cm }} cm)</h3>
            <p>Precio base: {{ tatuaje.precio_base|intcomma }} CLP</p>
            <form action="{% url 'formulario_cotizacion' %}" method="GET">
                <label><input type="radio" name="color" value="color" required> A color (+{{ tatuaje.costo_color|intcomma }} CLP)</label><br>
                <label><input type="radio" name="color" value="bn"> Blanco y negro</label><br>
                <button type="submit">Pedir cotización</button>
            </form>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
