{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<section class="seccion-contenedor">
    <!-- Sección de tatuajes disponibles -->
    <div class="inicioGaleria">
        <h2>Tatuajes Disponibles</h2>
        <p>Explora algunos de nuestros mejores trabajos disponibles.</p>
    </div>
    <div class="galeria">
        {% for tatuaje in tatuajes_disponibles %}
        <div class="articulo">
            <h3 style="font-family: 'PermanentMarker'; font-size: 24px;" class="fuente-Nombre-tatto">{{ tatuaje.nombre }}</h3>
            <p>{{ tatuaje.descripcion }}</p>
        
            <!-- Mostrar la imagen principal -->
            {% if tatuaje.imagen %}
                <img src="{{ tatuaje.imagen.url }}" alt="{{ tatuaje.nombre }}">
            {% endif %}
        
            <!-- Mostrar todas las imágenes adicionales asociadas al tatuaje -->
            <div class="imagenes-adicionales">
                {% for imagen in tatuaje.imagenes.all %}
                    <img src="{{ imagen.imagen.url }}" alt="Imagen de {{ tatuaje.nombre }}">
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Sección de tatuajes realizados -->
    <div class="inicioGaleria">
        <h2>Tatuajes Realizados</h2>
        <p>Una muestra de algunos de los tatuajes que hemos realizado.</p>
    </div>
    <div class="galeria">
        {% for tatuaje in tatuajes_realizados %}
        <div class="articulo">
            <h3 style="font-family: 'PermanentMarker'; font-size: 24px;" class="fuente-Nombre-tatto">{{ tatuaje.nombre }}</h3>
            <p>{{ tatuaje.descripcion }}</p>
        
            <!-- Mostrar la imagen principal -->
            {% if tatuaje.imagen %}
                <img src="{{ tatuaje.imagen.url }}" alt="{{ tatuaje.nombre }}">
            {% endif %}
        
            <!-- Mostrar todas las imágenes adicionales asociadas al tatuaje -->
            <div class="imagenes-adicionales">
                {% for imagen in tatuaje.imagenes.all %}
                    <img src="{{ imagen.imagen.url }}" alt="Imagen de {{ tatuaje.nombre }}">
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
