{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería Tattos</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}?v=1.46">
    <link rel="stylesheet" href="{% static 'css/styleContacto.css' %}?v=1.5">
    <link rel="stylesheet" href="{% static 'css/styleGaleria.css' %}?v=1.6">
</head>

<body>
    <header class="contenedorHader">
        <h1>Galería de Tattos</h1>
        <nav>
            <ul>
                <li><a class="BarraNavegacion" href="{% url 'index' %}">Inicio</a></li>
                <li><a class="BarraNavegacion" href="{% url 'Galeria' %}">Galería</a></li>
                <li><a class="BarraNavegacion" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="seccion-contenedor">
        <div class="inicioGaleria">
            <h2>Nuestra Galería de Tatuajes</h2>
            <p>{{ descripcion }}</p>
        </div>
    
        <!-- Galería de imágenes con un solo contenedor -->
        <div class="galeria">
            <div class="articulo">
                <img src="{% static 'images/Galeria/TATTO-GON-Photoroom.png' %}" alt="Tatuaje 1">
                <p>Descripción del Tatuaje 1</p>
            </div>
            <div class="articulo">
                <img src="{% static 'images/Galeria/TATTO-MONKY.png' %}" alt="Tatuaje 2">
                <p>Descripción del Tatuaje 2</p>
            </div>
            <div class="articulo">
                <img src="{% static 'images/Galeria/TATTO-LISA.png' %}" alt="Tatuaje 3">
                <p>Descripción del Tatuaje 3</p>
            </div>
        </div>
    
        <div class="inicioGaleria">
            <h2>Diseño Varios ;)</h2>
            <p>{{ descripcion }}</p>
        </div>
    
        <!-- Galería de diseños -->
        <div class="galeria">
            <div class="articulo">
                <img src="{% static 'images/diseños/CHINCHAN-DISENO.png' %}" alt="DISEÑO 1">
                <p>Descripción del Tatuaje 1</p>
            </div>
            <div class="articulo">
                <img src="{% static 'images/diseños/PERRO-CHINCHAN-DISENO.png' %}" alt="Tatuaje 2">
                <p>Descripción del Tatuaje 2</p>
            </div>
            <div class="articulo">
                <img src="{% static 'images/diseños/HOMMER-BART-DISENO.png' %}" alt="Tatuaje 3">
                <p>Descripción del Tatuaje 3</p>
            </div>
            <div class="articulo">
                <img src="{% static 'images/diseños/GATO-MAGO-DISENO.png' %}" alt="Tatuaje 3">
                <p>Descripción del Tatuaje 3</p>
            </div>
        </div>
    </section>
    

    <footer>    
        <p>&copy; 2024 Proyecto Backend. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
