{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="intro">
    <h2 style="color: #10100f;">Bienvenido a TheTaTToTing</h2>    <p>Tu destino digital para explorar, inspirarte y hacer realidad tu próximo tatuaje. En este sitio web encontrarás un espacio dedicado al arte corporal, donde la creatividad y la pasión por el diseño se unen para ofrecerte una experiencia única.</p>
    <p>Ofrecemos una amplia variedad de estilos y diseños personalizados para que puedas encontrar la obra de arte perfecta para ti. Desde tatuajes minimalistas hasta impresionantes piezas de gran tamaño, nuestro equipo de artistas expertos está aquí para guiarte y plasmar tus ideas en la piel.</p>
    <p>En nuestra <strong>Galeria</strong>, podrás explorar una selección de nuestros mejores trabajos y conocer nuestras tarifas. Si tienes alguna pregunta o deseas agendar una cita, visita nuestra sección de <strong>Contacto</strong>. ¡Te esperamos para crear juntos la obra de arte que siempre soñaste!</p>
    
    <div class="logo-container">
        <img src="{% static 'images/logo_tattoting.png' %}" alt="Logo" class="logo">
    </div>
</section>
{% endblock %}