body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    min-width: 600px ;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1{
    font-size: 30px;
    text-align: center;
    padding: 20px
}

.BarraNavegacion{
    border: 4px solid black; /* Borde de 2px de color negro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 40px; /* Espaciado interno alrededor del texto */
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: white; /* Color del texto */
    background-color: #000000; /* Fondo del enlace */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}


.BarraNavegacion:hover{
    background-color: #555; 
}
