/*fonts*/

/*SpicyRice-Regular*/
@font-face {
    font-family: 'SpicyRice';
    src: url('../fonts/SpicyRice-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*PlaywriteDE*/
@font-face {
    font-family: 'PlaywriteDE';
    src: url('../fonts/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
/*Sixtyfour*/
@font-face {
    font-family: 'Sixtyfour';
    src: url('../fonts/SixtyfourConvergence-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*PermanentMarker*/
@font-face {
    font-family: 'PermanentMarker';
    src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
/* Galería de imágenes */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; /* Asegura que los elementos se alineen verticalmente */
    gap: 20px;
}


.tatuaje-item {
    max-width: 300px; /* Ajusta según lo que necesites */
    margin: 10px;
    text-align: center;
}

.tatuaje-item img {
    max-width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 5px;
}

.imagenes-adicionales {
    display: flex;
    justify-content: center; /* Centra las imágenes en el contenedor */
    align-items: center; /* Alinea las imágenes verticalmente */
    gap: 10px; /* Espacio entre las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan si hay muchas */
}

.imagenes-adicionales img {
    width: 80px; /* Tamaño de las imágenes adicionales */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin: 5px; /* Espacio alrededor de cada imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 5px; /* Opcional: redondea las esquinas */
}


/* Contenedor de cada artículo */
.articulo {
    background-color: rgb(206, 206, 206);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 300px;
    height: 450px; /* Asegura que todos los contenedores tengan la misma altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Estilos para las imágenes dentro de cada artículo */
.articulo img {
    width: 100%;
    height: 250px; /* Asegura que todas las imágenes tengan la misma altura */
    object-fit: cover; /* Mantiene la proporción sin distorsionar */
    border-radius: 10px;
}


h3.fuente-Nombre-tatto {
    font-family: 'PermanentMarker';
    font-size: 20px;

}

.inicioGaleria{
    background-color: rgb(206, 206, 206);
    font-family: 'SpicyRice';
    padding: 5px;
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra en el contenedor */
    text-align: center;
}

.inicioGaleria h2{
    font-family: 'PermanentMarker';
    font-size: 30px;
}

.inicioGaleria p{
    font-family: 'SpicyRice';
    font-size: 25px;
}
.articulo img:hover {
    transform: scale(1.05); /* Ampliar ligeramente la imagen al pasar el ratón */
}

/* Texto de descripción */
.articulo p {
    color: #555; /* Color del texto */
    font-family: 'SpicyRice';
    font-size: 18px;
    margin: 0;
    padding: 10px;
}


