/* Estilos generales para la sección de cotización */
.seccion-cotizacion {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: #f0e68c;
    font-family: 'PermanentMarker';
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto de la sección */
}

.seccion-cotizacion h2 {
    font-size: 32px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #1d1d1d;
}

.seccion-cotizacion p {
    font-family: 'SpicyRice';
    font-size: 18px;
    margin-bottom: 15px;
}

/* Contenedor principal de las tarjetas */
.lista-tatuajes, .lista-opciones-personalizadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

/* Estilos para cada tarjeta */
.tatuaje-item, .opcion-item {
    background-color: #444;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre filas */
}

.tatuaje-item h3, .opcion-item h3 {
    font-family: 'SpicyRice';
    font-size: 20px;
    margin-bottom: 10px;
}

.tatuaje-item p, .opcion-item p {
    margin: 5px 0;
    font-family: 'SpicyRice';
}

/* Enlaces dentro de las tarjetas */
.tatuaje-item a, .opcion-item button {
    color: #ffd700;
    text-decoration: underline;
    font-weight: bold;
    margin-top: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.tatuaje-item a:hover, .opcion-item button:hover {
    color: #ffa500;
    text-decoration: none;
}

/* Imagen dentro de cada tarjeta */
.tatuaje-item img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Inputs dentro de las opciones personalizadas */
.opcion-item label {
    display: block;
    font-family: 'SpicyRice';
    margin-bottom: 5px;
}

.opcion-item input[type="radio"] {
    margin-right: 5px;
}

/* Botones en las opciones */
.opcion-item button {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #ffd700;
    font-family: 'PermanentMarker';
    font-size: 16px;
    color: #222;
    border: none;
    margin-top: 15px;
}

.opcion-item button:hover {
    background-color: #ffd383;
    color: #fff;
}
