/*fonts*/

/*SpicyRice-Regular*/
@font-face {
    font-family: 'SpicyRice';
    src: url('../fonts/SpicyRice-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*PlaywriteDE*/
@font-face {
    font-family: 'PlaywriteDE';
    src: url('../fonts/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
/*Sixtyfour*/
@font-face {
    font-family: 'Sixtyfour';
    src: url('../fonts/SixtyfourConvergence-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: #323232; /* Fondo gris oscuro */
    min-height: 100vh; /* Asegurar que el cuerpo cubra al menos la pantalla completa */
    overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}

.contenedorHader {
    width: 100%; /* Asegurar que ocupe todo el ancho de la pantalla */
    background-image: url('/static/images/fondos/darkened_red_pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1rem;
    text-align: center;
    min-width: 600px;
    min-height: 280px;
    position: relative;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: center; /* Centrar los elementos del menú */
    align-items: center; /* Alinear verticalmente los elementos */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; /* Eliminar cualquier margen sobrante */
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000000;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #8c8b8b;
}

section {
    padding: 2rem;
    background-color: #323232; /* Fondo gris oscuro */
    height: auto; /* Ajustar la altura al contenido */
    box-sizing: border-box;
    flex-grow: 1; /* Permitir que esta sección crezca para ocupar el espacio disponible */
    margin-top: 20px; /* Espacio entre el encabezado y la sección */
}

footer {
    background-image: url('/static/images/fondos/darkened_red_pattern.png'); /* Ruta de la imagen */
    background-repeat: repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto; /* Asegurar que el footer esté en la parte inferior */
    width: 100%;
    height: auto; /* Asegurarse de que el footer crezca según el contenido */
}

h1 {
    font-family: 'SpicyRice', sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 20px;
    color: white; /* El color del texto */
    text-shadow: 
        2px 2px 0px rgb(123, 105, 2),  /* Sombra a la derecha inferior */
        -2px -2px 0px rgb(123, 105, 2), /* Sombra a la izquierda superior */
        -2px 2px 0px rgb(123, 105, 2),  /* Sombra a la izquierda inferior */
        2px -2px 0px rgb(123, 105, 2);  /* Sombra a la derecha superior */
}

.BarraNavegacion {
    font-family: 'PlaywriteDE';
    border: 4px solid black; /* Borde de color negro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 40px; /* Espaciado interno */
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: white; /* Color del texto */
    background-color: #000000; /* Fondo del enlace */
    transition: background-color 0.3s ease; /* Transición suave */
}

.BarraNavegacion:hover {
    background-color: #8c8b8b; /* Cambiar color al pasar el ratón */
}

.logo-container {
    display: flex; /* Alinear el logo y el título en fila */
    align-items: center; /* Centrar verticalmente el logo y el título */
    justify-content: center; /* Centrar horizontalmente */
    background-color: #000000;
    padding: 10px;
}

.logo {
    width: 40%; /* Ajustar el tamaño del logo */
    height: auto;
    margin-right: 15px; /* Espacio entre el logo y el título */
}

.intro {
    text-align: center; /* Centrar el texto */
    padding: 20px;
    max-width: 800px; /* Ancho máximo del texto */
    margin: 0 auto; /* Centrar la introducción */
    background-color: #f0f0f0; /* Fondo claro para resaltar la introducción */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px;
    height: auto; /* Ajustar la altura automáticamente al contenido */
}

.intro h2 {
    margin-top: 10px; /* Margen superior reducido */
    font-family: 'PermanentMarker';

}

.intro p {
    margin-bottom: 15px; /* Espacio entre párrafos */
    color: #555; /* Color del texto */
    font-family: 'SpicyRice';

}

.seccion-contenedor {
    margin-top: 300px;
    width: 100%;
    max-width: 1100px; /* Limita el ancho máximo de la sección */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    box-sizing: border-box;
}
